In [71]:
import torch
import torch.nn as nn
import torch.nn.functional as F #Helps to feed forward the data in the neural net

In [72]:
#Create a model class that inherits nn.module

class Model(nn.Module):
    #Input layer (4 feature of flowers) 
    # -> hidden layer (number of neurons) 
    # -> H2 
    # -> Output (3 classes of Iris flower)
    def __init__(self,in_feature=4, h1=8, h2=9, out_feature=3):
        super().__init__() #To initiate the nn.module
        self.fc1 = nn.Linear(in_feature,h1) #feed forwarding from input to h1 layer 
        self.fc2 = nn.Linear(h1, h2) #feed forwarding from h1 to h2
        self.out = nn.Linear(h2, out_feature) #feed forwarding from h2 to output layer
    
    def forward(self,x):
        x = self.fc1(x)
        x = torch.relu(x) #relu : rectified linear units #Perform the function and forward it to next layer
        x = self.fc2(x)
        x = torch.relu(x) #perform the function and forward to output
        x = self.out(x)

        return x

#For relu function 
'''
First we need to calculate the input and save it into a variable and then
Pass that output to the relu function
TypeError: relu(): argument 'input' (position 1) must be Tensor, 
not Linear occurs because the relu() function is being applied to a torch.nn.Linear layer instead of its output
'''

In [73]:
#Before creating a instance
#We need to create a seed because neural network involves randomization
#It performs random number operations everytime 
#so we need to start the randomization at a specific time
torch.manual_seed(20)
#creating a instance of a model
model = Model()

In [74]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [75]:
url = 'https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv'
my_df = pd.read_csv(url)

In [76]:
my_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [77]:
my_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [78]:
#Change the last col value from string to integer
my_df['species'] = my_df['species'].replace('setosa',0)
my_df['species'] = my_df['species'].replace('versicolor',1)
my_df['species'] = my_df['species'].replace('virginica',2)

C:\Users\Artophilic\AppData\Local\Temp\ipykernel_14440\1676982206.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  my_df['species'] = my_df['species'].replace('virginica',2)

In [79]:
my_df['species'] = my_df['species'].replace(0.0,0)
my_df['species'] = my_df['species'].replace(1.0,1)
my_df['species'] = my_df['species'].replace(2.0,2)

In [80]:
my_df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [81]:
#Train and test split

X = my_df.drop('species', axis=1)
y = my_df['species']

In [82]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [83]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [84]:
#Convert to numpy arrays
X = X.values
y = y.values

In [85]:
X

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [86]:
from sklearn.model_selection import train_test_split

X_train, X_test , y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=41)

In [87]:
#Convert X features to float tensors
X_train = torch.FloatTensor(X_train)
X_test = torch.FloatTensor(X_test)

In [88]:
#Convert X features to float tensors
y_train = torch.LongTensor(y_train)
y_test = torch.LongTensor(y_test)

In [89]:
#Need to set criteri of model to measure the error, how far off the predictions are from
criterion = nn.CrossEntropyLoss()
#Choose Adam optimizer, and lr learning rate (If error does not go down after a bunch of iteration then we need to lower the lr)
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

In [90]:
#Epoch : When data from input layer travels to output layer that we will be one epoch

In [91]:
model.parameters

<bound method Module.parameters of Model(
  (fc1): Linear(in_features=4, out_features=8, bias=True)
  (fc2): Linear(in_features=8, out_features=9, bias=True)
  (out): Linear(in_features=9, out_features=3, bias=True)
)>

In [92]:
#Train the model
epochs = 100 #One run thru all the training date in our network
losses = []
for i in range(epochs):
    #Go forward and get a predictions
    y_pred = model.forward(X_train) #predicted results

    #Measure the loss
    loss = criterion(y_pred, y_train) #predicted values vs y_train

    #keeping track of the losses
    losses.append(loss.detach().numpy())

    #print every 10 epochs
    if i & 10 == 0:
        print(f"Epoch number:{i} and loss: {loss}")
    
    #Do some back propagation : Take the error rate of forward propagation
    #and feed it back thru the network to fine tune the weights
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

Epoch number:0 and loss: 1.0992790460586548
Epoch number:1 and loss: 1.080903172492981
Epoch number:4 and loss: 0.9995900988578796
Epoch number:5 and loss: 0.9725227355957031
Epoch number:16 and loss: 0.6333900690078735
Epoch number:17 and loss: 0.6005685925483704
Epoch number:20 and loss: 0.5275512337684631
Epoch number:21 and loss: 0.5082390308380127
Epoch number:32 and loss: 0.3443986177444458
Epoch number:33 and loss: 0.333730012178421
Epoch number:36 and loss: 0.3037896752357483
Epoch number:37 and loss: 0.2941279709339142
Epoch number:48 and loss: 0.1922338306903839
Epoch number:49 and loss: 0.18380530178546906
Epoch number:52 and loss: 0.16014094650745392
Epoch number:53 and loss: 0.1528596431016922
Epoch number:64 and loss: 0.09388282895088196
Epoch number:65 and loss: 0.09027393162250519
Epoch number:68 and loss: 0.08081003278493881
Epoch number:69 and loss: 0.07806286960840225
Epoch number:80 and loss: 0.05695445090532303
Epoch number:81 and loss: 0.05562659353017807
Epoch number:84 and loss: 0.052041079849004745
Epoch number:85 and loss: 0.05096440017223358
Epoch number:96 and loss: 0.04192108288407326
Epoch number:97 and loss: 0.04129404202103615

In [93]:
df = pd.read_csv(url)

In [94]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [95]:
#Change the last col value from string to integer
df['species'] = df['species'].replace('setosa',0)
df['species'] = df['species'].replace('versicolor',1)
df['species'] = df['species'].replace('virginica',2)

C:\Users\Artophilic\AppData\Local\Temp\ipykernel_14440\3782510843.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['species'] = df['species'].replace('virginica',2)

In [96]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [97]:
#Train and test split

X = df.drop('species', axis=1)
y = df['species']

In [98]:
#Convert to numpy arrays
X = X.values
y = y.values

In [99]:
from sklearn.model_selection import train_test_split

X_train, X_test , y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=41)

In [100]:
#Convert X features to float tensors
X_train = torch.FloatTensor(X_train)
X_test = torch.FloatTensor(X_test)

In [101]:
#Convert X features to float tensors
y_train = torch.LongTensor(y_train)
y_test = torch.LongTensor(y_test)

In [102]:
criterion = nn.CrossEntropyLoss()

In [103]:
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

In [104]:
model.parameters

<bound method Module.parameters of Model(
  (fc1): Linear(in_features=4, out_features=8, bias=True)
  (fc2): Linear(in_features=8, out_features=9, bias=True)
  (out): Linear(in_features=9, out_features=3, bias=True)
)>

In [105]:
#Train the model
epochs = 100 #One run thru all the training date in our network
losses = []
for i in range(epochs):
    #Go forward and get a predictions
    y_pred = model.forward(X_train) #predicted results

    #Measure the loss
    loss = criterion(y_pred, y_train) #predicted values vs y_train

    #keeping track of the losses
    losses.append(loss.detach().numpy())

    #print every 10 epochs
    if i & 10 == 0:
        print(f"Epoch number:{i} and loss: {loss}")
    
    #Do some back propagation : Take the error rate of forward propagation
    #and feed it back thru the network to fine tune the weights
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

Epoch number:0 and loss: 0.03955458477139473
Epoch number:1 and loss: 0.0378497838973999
Epoch number:4 and loss: 0.05643714964389801
Epoch number:5 and loss: 0.06767510622739792
Epoch number:16 and loss: 0.036773063242435455
Epoch number:17 and loss: 0.03418789803981781
Epoch number:20 and loss: 0.03853936120867729
Epoch number:21 and loss: 0.03488685563206673
Epoch number:32 and loss: 0.0320730097591877
Epoch number:33 and loss: 0.03273177519440651
Epoch number:36 and loss: 0.03155865520238876
Epoch number:37 and loss: 0.03140079975128174
Epoch number:48 and loss: 0.03007269650697708
Epoch number:49 and loss: 0.029717160388827324
Epoch number:52 and loss: 0.029415853321552277
Epoch number:53 and loss: 0.029178014025092125
Epoch number:64 and loss: 0.027665002271533012
Epoch number:65 and loss: 0.027531342580914497
Epoch number:68 and loss: 0.027146730571985245
Epoch number:69 and loss: 0.027016926556825638
Epoch number:80 and loss: 0.0257046427577734
Epoch number:81 and loss: 0.025582794100046158
Epoch number:84 and loss: 0.025255030021071434
Epoch number:85 and loss: 0.02513868547976017
Epoch number:96 and loss: 0.02399463765323162
Epoch number:97 and loss: 0.02389690652489662